extends ../layout

block content
  h2= poll.question
  
  form(method='post', action='/votes')
    input(type='hidden', name='pollId', value=poll.id)
    each option in poll.options
      .radio
        label
          input(type='radio', name='choice', value=option,
                checked=(currentChoice==option))
          | #{option}&nbsp;
          span.badge= poll.votes[option] || 0
    button(type='submit') Submit your vote